<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
  <bean id="alien" class="com.example.dummy.Alien">

    <!-- Through Value -->
    <!-- <constructor-arg value="21" />
    <constructor-arg ref="laptop"/> -->

    <!-- Through Type -->
    <!-- <constructor-arg type="int" value="21" />
    <constructor-arg type="com.example.Laptop" ref="laptop" /> -->

    <!-- Through Index: Mostly prefered -->
    <constructor-arg index="0" value="21" />
    <constructor-arg index="1" value="10000" />
    <constructor-arg index="2" ref="laptop"/>

    <!-- Through Name -->
    <!-- <constructor-arg name="age" value="21"/>
    <constructor-arg name="salary" value="10000"/>
    <constructor-arg name="laptop" ref="laptop" /> -->

  </bean>
  <bean id="laptop" class="com.example.dummy.Laptop"/>
</beans>